body{
  margin:0;
  font-family:rockwell;
  margin-top:-66px;
}
li{
  padding:5px;
}
#welcome-section{
  width:100%;
  margin:0;
  top:0;
  text-align:center;
  position:fixed;
  background-color: rgba(230, 0, 30)
}
#introduction{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-image: linear-gradient(to bottom right, black, gray);
/*   background-color: rgba(15,15,15); */
}
#intro{
  font-size:4vw;
  color:white;
}

#introsub{
  font-style:italic;
  color:pink;
}

#projects{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-image: linear-gradient(to bottom left, skyblue, dodgerblue);
  background-color:dodgerblue;
}
a{
  display:inline-block;
}
a:hover{
  color:red;
  transform: scale(1.25);
  transition: transform .2s, color .2s;
  
}
#closer{
  width:100%;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  background-image: linear-gradient(gray, white, gray)
}

/** Complete Garbage**/
#garbage{
  display:none;
}
/**
#fun:hover{
  color:pink;
}
#fun2:hover{
  color:red;
}
#hidden{
  color:white;
  
}
@media screen and (max-width:800px){
  #projects{
    display:none;
  }
  p{
    display:none;
  }
  h2{
    display:none;
  }
  h1{
    color:white;
  }
  #hidden{
    color:pink;
    font-size:50px;
  }
}
**/