header{
  font-size:20px;
}
#top{
  display:flex;
  position:fixed;
  width:100%;
  top:0;
  left:0;
  height:70px;
  justify-content:right;
  background-color:beige;
  z-index:0;
  font-variant:small-caps;
}
#nav-bar{
  position:fixed;
  display:flex;
  width:500px;
  height:70px;
  text-align:right;
  justify-content:space-evenly;
  align-items:flex-end;
  margin-bottom:10px;
  transform: translateY(-10px);
}
.nav-link:hover{
  opacity:.6;
}
.nav-link{
  text-decoration:none;
  font-size:30px;
  bottom:0;
}
#header-img{
  position:fixed;
  height:50px;
  left:0;
  padding-left:30px;
  padding-top:8px;
}
body{
  background-color:orange;
}
#body2{
  margin-top:150px;
  display:flex;
  row-direction:row;
  justify-content:space-between;
}
#video{
  width:30%;
  margin:0 10%;
}
#sign-up{
  width:30%;
  margin:0 10%;
  display:flex;
  align-items:center;
  flex-direction:column;
}
#submit-button{
  display:flex;
  justify-content:center;
}
footer{
  text-align:center;
}
@media screen and (max-width:600px){
  #header-img{
  display:none;
  }
}